<div class="container">
    <h1>Quotes</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="quotes" *ngFor = "let quote of quotes; let i = index">
                <h4>{{quote.title}}</h4>
                <p  *ngIf="highestVotes()!==quote.upvote || quote.upvote===0" class="favorite">{{quote.quoteInfo}}</p>
                <p appHighlight *ngIf="highestVotes()===quote.upvote && quote.upvote>0" class="favorite">{{quote.quoteInfo}}</p>
                <app-quotes-detail *ngIf='quote' bind-votes='quote' (isRead)='removeQuote($event,i)'></app-quotes-detail>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quoteForm">
                <app-quotes-form (add)="addNewQuote($event)"></app-quotes-form>
            </div>
        </div>
    </div>
</div>
